@charset "utf-8";
/*CSS Document*/


/**햄버거메뉴**/

.hamburger-wrap{
    position: relative;
    cursor: pointer;
}
.hamburger>span {
    display:block;
    width:24px;
    height:3px;
    margin-bottom:6px;
    background-color:black;
    transition: transform 0.5s, opacity 0.5s;
}
.hamburger-wrap.active span:nth-child(1) {
    transform:translateY(8.5px) rotate(45deg);
}
.hamburger-wrap.active span:nth-child(2) {
    opacity:0;
}
.hamburger-wrap.active span:nth-child(3) {
    transform:translateY(-8.5px) rotate(-45deg);
}


/**사이드메뉴바 구현**/

.sidebar {
    position: absolute;
    width: 250px;
    margin-left: -100%;
    transition: all 0.7s;
}
.sidebar.on {
    margin-left: 0;
}
.side-ul{
    text-align: center;
    border: 1px solid #ddd;
}
.side-ul > li:nth-child(1) {
    background: #f9f9f9;
    padding: 50px 0;
}
.side-ul > li:nth-child(2) {
    background: white;
    line-height: 2.5;
    padding: 30px 0;
}
.side-ul > li:nth-child(3) , .side-ul > li:nth-child(4) {
    background: white;
    padding: 20px 0;
}
.side-ul > li:nth-child(1) > a {
    display: block;
    color: rgb(85, 0, 255);
    text-decoration: none;
    font-size: 0.8em;
}
.side-ul > li:nth-child(2) > a {
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}
.side-ul > li:nth-child(2) > a:nth-child(1) {
    color: rgb(85, 0, 255);
}
.side-ul > li:nth-child(2) > a:hover {
    color: rgb(85, 0, 255);
    text-decoration: underline;
}
.side-ul > li:nth-child(3) > a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'BookkMyungjo-Bd';
}
.side-ul > li:nth-child(4) > a {
    display: block;
    color: #999;
    font-size: 0.8em;
}
.side-ul > li > p {
    margin: 20px 0;
    font-family: 'BookkMyungjo-Bd';
    font-size: 0.8em;
}
.side-ul > li > p > span {
    line-height: 3;
    font-size: 0.5em;
}
.sidebar_btn {
    margin: 0 auto;
    text-align: center;
    width: 130px;
    padding: 10px 15px;
    background: white;
    border: 1px solid rgb(85, 0, 255);
    border-radius: 50px;
}
.sidebar_btn:hover {
    text-decoration: underline;
}
.side-li-container {
    margin: 0 auto;
    width: 160px;
    display: flex;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}
